
.result-listing{
            display: flex;
            flex-direction: column;
            width: 75%;
            margin: auto;
            
}

.listing-info-result {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}